@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic");
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  color: #515151;
}

ul {
  list-style-type: none;
}

p {
  color: #686868;
  line-height: 1.3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding: 7.5rem 0;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.primary {
  color: #0ddeff !important;
}

input {
  width: 100%;
  height: 100%;
  background: #F3F3F3;
  border: 1px solid #D3D3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
}

input:hover {
  border-color: #0ddeff;
}

input:focus {
  -webkit-box-shadow: 0 1px 10px 1px rgba(13, 222, 255, 0.25);
          box-shadow: 0 1px 10px 1px rgba(13, 222, 255, 0.25);
}

.btn {
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s cubic-bezier(0.21, 0.15, 0, 1);
  transition: 0.5s cubic-bezier(0.21, 0.15, 0, 1);
}

.btn.btn-large {
  padding: 2.8rem 6rem;
}

@media screen and (max-width: 960px) {
  .btn.btn-large {
    padding: 2rem 4rem;
  }
}

.btn-flat {
  background-color: #0ddeff;
  color: #ffffff;
}

.btn-flat:hover {
  -webkit-filter: saturate(140%);
          filter: saturate(140%);
}

.btn-flat:active {
  background-color: #0fb9d3;
}

.btn-inverse {
  border: 1px solid #0ddeff;
  color: #0ddeff;
}

.btn-inverse:hover {
  background-color: #0ddeff;
  color: #ffffff;
}

.btn-inverse:active {
  background-color: #0fb9d3;
}

.btn-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#0ddeff), to(#0090a7));
  background: linear-gradient(180deg, #0ddeff 0%, #0090a7 100%);
  color: white;
  -webkit-box-shadow: 0px 2px 1px #066c7c;
          box-shadow: 0px 2px 1px #066c7c;
  font-size: 1.4rem;
  padding: 1.8rem 5.5rem;
}

.btn-primary:hover, .btn-primary:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  color: #fff;
  -webkit-box-shadow: 0px 0px 1px #066c7c;
          box-shadow: 0px 0px 1px #066c7c;
}

.btn-primary:before {
  border-radius: 10rem;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.21, 0.15, 0, 1);
  transition: all 0.7s cubic-bezier(0.21, 0.15, 0, 1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, #0DDEFF), to(#0DDEFF));
  background: linear-gradient(180deg, #0DDEFF 12%, #0DDEFF 100%);
  z-index: -1;
}

.btn-primary:hover:before {
  opacity: 1;
  color: #fff;
}

.btn-primary:active {
  -webkit-filter: saturate(70%);
          filter: saturate(70%);
}

.btn-outline {
  color: #0ddeff;
  border: 1px solid #0ddeff;
  background-color: transparent;
  font-size: 1rem;
  padding: 1.3rem;
}

.btn-outline:hover {
  background-color: #0ddeff;
  color: #ffffff;
}

.btn-outline:active {
  background-color: #0fb9d3;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 1.8rem 1.5rem;
}

.btn.i-send {
  position: relative;
}

.btn.i-send:after {
  content: url("../img/icons/send-mail.svg");
  margin-left: 1rem;
  display: inline-block;
  vertical-align: sub;
}

.logo {
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
}

.logo:hover {
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

.navbar {
  z-index: 20;
}

.navbar .phone {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-top .container, .navbar-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar-top {
  background-color: #ffffff;
  padding: 1.5rem 0;
}

@media screen and (max-width: 960px) {
  .navbar-top {
    padding: 0.5rem 0;
  }
}

.navbar-top .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-top .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .navbar-top .right-side {
    display: none;
  }
}

.navbar-top .right-side a {
  margin: .5rem;
}

.navbar-top .right-side a:last-child {
  margin-right: 0;
}

.navbar-top .right-side .btn {
  padding: 1.2rem 1.5rem;
  font-size: 1rem;
  border: 1px solid #0ddeff;
  vertical-align: middle;
}

.navbar-bottom {
  background-color: #0ddeff;
  color: #ffffff;
  z-index: 20;
}

.navbar-bottom .phone {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-bottom {
    display: none;
    background-color: #14222e;
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .navbar-bottom .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 0;
  }
  .navbar-bottom .menu li {
    font-size: 1.5rem;
  }
  .navbar-bottom .phone {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 4rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 1rem;
  }
}

.navbar-bottom.active {
  display: block;
}

.navbar-bottom .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-bottom .menu li {
  position: relative;
}

.navbar-bottom .menu li a {
  display: inline-block;
  padding: 1.8rem;
}

.navbar-bottom .menu li:before {
  content: '';
  height: .4rem;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
}

.navbar-bottom .menu li:hover:before {
  width: 100%;
}

.ham {
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  z-index: 50;
}

@media screen and (max-width: 960px) {
  .ham {
    display: block;
  }
}

.ham .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #0ddeff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 82;
}

.ham .middle {
  stroke-dasharray: 40 111;
}

.ham .bottom {
  stroke-dasharray: 40 161;
}

.ham.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.ham.active .middle {
  stroke-dashoffset: 23px;
}

.ham.active .bottom {
  stroke-dashoffset: -83px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header {
  padding-top: 7rem;
  background: #5555 url("../img/home/main-bg-compressed.jpg") bottom right/cover no-repeat;
  min-height: 86.7vh;
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  header {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 960px) {
  header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#192833)), url("../img/home/main-bg-compressed.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #192833 100%), url("../img/home/main-bg-compressed.jpg");
    min-height: 90vh;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header h1 {
  color: #ffffff;
  font-size: 6.6vmin;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

@media screen and (max-width: 960px) {
  header h1 {
    font-size: 6.2vmin;
    margin-bottom: 2.5rem;
  }
}

header .main-ul {
  margin-bottom: 5rem;
}

@media screen and (max-width: 960px) {
  header .main-ul {
    margin-bottom: 2rem;
  }
}

header .btn-large {
  margin-bottom: 15rem;
}

@media screen and (max-width: 960px) {
  header .btn-large {
    margin-bottom: 12rem;
  }
}

header .foot {
  margin-top: auto;
  margin-bottom: 3rem;
}

.main-ul li {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 560px) {
  .main-ul li {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.main-ul li:before {
  content: url("../img/icons/check-icon.svg");
  margin-right: 1.3rem;
  vertical-align: middle;
  display: inline-block;
}

.links li,
.link-primary {
  display: inline-block;
  position: relative;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  border-bottom: 0.4rem solid rgba(255, 255, 255, 0.5);
  margin-right: 3rem;
}

.links li:after,
.link-primary:after {
  content: '';
  height: .4rem;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
}

.links li:hover:after,
.link-primary:hover:after {
  width: 100%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links li {
  border-bottom: 0.4rem solid rgba(255, 255, 255, 0.5);
  margin-right: 3rem;
}

.links li:before {
  background-color: #fff;
}

.link-primary {
  color: #0ddeff;
  letter-spacing: 0.12rem;
  border-bottom: 0.4rem solid rgba(13, 222, 255, 0.3);
}

.link-primary:after {
  background-color: #0ddeff;
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
  transition: all 0.5s cubic-bezier(0.21, 0.15, 0, 1);
}

.h3 {
  color: #515151;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-features {
  position: relative;
  padding: 24rem 0 18rem;
}

.section-features::before {
  content: url('data:image/svg+xml; utf8,<svg viewBox="0 0 1849 280" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.03"><path d="M221.468 205.36V273H0.30835V6.99998H216.528V74.64H88.4684V105.8H200.948V170.4H88.4684V205.36H221.468Z" fill="black"/><path d="M255.992 6.99998H345.672V203.46H465.752V273H255.992V6.99998Z" fill="black"/><path d="M711.683 205.36V273H490.523V6.99998H706.743V74.64H578.683V105.8H691.163V170.4H578.683V205.36H711.683Z" fill="black"/><path d="M883.767 279.08C855.647 279.08 830.314 273.253 807.767 261.6C785.22 249.693 767.487 233.227 754.567 212.2C741.9 190.92 735.567 166.853 735.567 140C735.567 113.147 741.9 89.2067 754.567 68.18C767.487 46.9 785.22 30.4333 807.767 18.78C830.314 6.87332 855.647 0.919983 883.767 0.919983C909.607 0.919983 932.66 5.47999 952.927 14.6C973.193 23.72 989.914 36.8933 1003.09 54.12L946.467 104.66C930 83.8866 910.62 73.5 888.327 73.5C869.58 73.5 854.507 79.58 843.107 91.74C831.707 103.647 826.007 119.733 826.007 140C826.007 160.267 831.707 176.48 843.107 188.64C854.507 200.547 869.58 206.5 888.327 206.5C910.62 206.5 930 196.113 946.467 175.34L1003.09 225.88C989.914 243.107 973.193 256.28 952.927 265.4C932.66 274.52 909.607 279.08 883.767 279.08Z" fill="black"/><path d="M1084.88 76.54H1006.98V6.99998H1252.46V76.54H1174.56V273H1084.88V76.54Z" fill="black"/><path d="M1389.76 206.12H1365.44V273H1275.76V6.99998H1403.82C1428.39 6.99998 1449.8 11.0533 1468.04 19.16C1486.28 27.2666 1500.34 38.92 1510.22 54.12C1520.1 69.32 1525.04 87.0533 1525.04 107.32C1525.04 126.32 1520.73 142.913 1512.12 157.1C1503.5 171.287 1491.09 182.56 1474.88 190.92L1530.74 273H1434.98L1389.76 206.12ZM1434.6 107.32C1434.6 97.44 1431.56 89.84 1425.48 84.52C1419.4 78.9467 1410.28 76.16 1398.12 76.16H1365.44V138.48H1398.12C1410.28 138.48 1419.4 135.82 1425.48 130.5C1431.56 124.927 1434.6 117.2 1434.6 107.32Z" fill="black"/><path d="M1698.36 279.08C1669.74 279.08 1644.02 273.127 1621.22 261.22C1598.42 249.313 1580.56 232.847 1567.64 211.82C1554.72 190.54 1548.26 166.6 1548.26 140C1548.26 113.4 1554.72 89.5867 1567.64 68.56C1580.56 47.28 1598.42 30.6866 1621.22 18.78C1644.02 6.87332 1669.74 0.919983 1698.36 0.919983C1726.99 0.919983 1752.7 6.87332 1775.5 18.78C1798.3 30.6866 1816.16 47.28 1829.08 68.56C1842 89.5867 1848.46 113.4 1848.46 140C1848.46 166.6 1842 190.54 1829.08 211.82C1816.16 232.847 1798.3 249.313 1775.5 261.22C1752.7 273.127 1726.99 279.08 1698.36 279.08ZM1698.36 206.5C1709.51 206.5 1719.52 203.84 1728.38 198.52C1737.5 192.947 1744.72 185.22 1750.04 175.34C1755.36 165.207 1758.02 153.427 1758.02 140C1758.02 126.573 1755.36 114.92 1750.04 105.04C1744.72 94.9067 1737.5 87.18 1728.38 81.86C1719.52 76.2866 1709.51 73.5 1698.36 73.5C1687.22 73.5 1677.08 76.2866 1667.96 81.86C1659.1 87.18 1652 94.9067 1646.68 105.04C1641.36 114.92 1638.7 126.573 1638.7 140C1638.7 153.427 1641.36 165.207 1646.68 175.34C1652 185.22 1659.1 192.947 1667.96 198.52C1677.08 203.84 1687.22 206.5 1698.36 206.5Z" fill="black"/></g></svg>');
  display: block;
  position: absolute;
  top: 11rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  z-index: -1;
}

.section-features img.car {
  position: absolute;
  bottom: 6rem;
  right: 0;
  mix-blend-mode: multiply;
}

@media (max-width: 1300px) {
  .section-features img.car {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .section-features {
    padding: 5rem 0 0rem;
  }
  .section-features::before {
    display: none;
  }
}

.features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.features-row .feature {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
}

@media screen and (max-width: 960px) {
  .features-row .feature {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .features-row .feature {
    width: calc(100% - 30px);
  }
}

.features-row .feature .img-wrapper {
  margin-right: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 6.5rem;
          flex: 1 0 6.5rem;
}

.features-row .feature .content p {
  min-height: 6rem;
  margin-bottom: 1.5rem;
}

.leaders {
  list-style: none;
  width: 100%;
}

.leaders li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 36px -4px;
  position: relative;
}

.leaders li span {
  background-color: #fff;
  color: #515151;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 4px;
  z-index: 1;
}

.leaders li .value {
  color: #0ddeff;
  text-transform: uppercase;
  text-align: right;
}

.leaders li:before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 4px;
  border-bottom: 2px dotted #dedede;
  z-index: 0;
}

.circles div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  height: auto;
  z-index: -1;
}

.circles .circle-1 {
  width: 110.6rem;
  height: 110.6rem;
  background-color: #12ceec;
}

.circles .circle-2 {
  width: 96.6rem;
  height: 96.6rem;
  background-color: #29c4dc;
}

.circles .circle-3 {
  width: 82.8rem;
  height: 82.8rem;
  background-color: #2db6cc;
}

.section-calculator {
  position: relative;
  background-color: #0ddeff;
  padding: 15rem 0;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 780px) {
  .section-calculator {
    padding: 6rem 0;
  }
}

.section-calculator #calculator {
  max-width: 92rem;
  margin: auto;
  background-color: #ffffff;
  border-radius: 2rem;
  -webkit-box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.1);
}

.section-calculator #calculator .head {
  padding: 5rem 9.3rem 2rem 9.3rem;
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 780px) {
  .section-calculator #calculator .head {
    padding: 4rem 3rem 2rem 3rem;
  }
}

.section-calculator #calculator .body {
  padding: 5rem 9.3rem 2rem 9.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 780px) {
  .section-calculator #calculator .body {
    padding: 2rem 3rem 2rem 3rem;
  }
}

.section-calculator #calculator .body .h3 {
  margin-bottom: 2.5rem;
}

.section-calculator #calculator .body .left-column,
.section-calculator #calculator .body .right-column {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 960px) {
  .section-calculator #calculator .body .left-column,
  .section-calculator #calculator .body .right-column {
    width: calc(100% - 30px);
  }
}

.section-calculator #calculator .body .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
}

.section-calculator #calculator .body .pair label {
  color: #515151;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  min-width: 110px;
}

.section-calculator #calculator .body .pair .input-wrapper {
  width: 200px;
  max-width: 100%;
}

.section-calculator #calculator .body .pair .input-wrapper input {
  font-size: 1.3rem;
  padding: 1.2rem 2rem;
}

.section-calculator #calculator .body .right-column {
  padding-left: 4rem;
}

@media screen and (max-width: 960px) {
  .section-calculator #calculator .body .right-column {
    padding: 0;
  }
}

.section-calculator #calculator .foot {
  border-top: 1px solid #e5e5e5;
  padding: 3rem 9.3rem;
}

@media screen and (max-width: 780px) {
  .section-calculator #calculator .foot {
    padding: 2rem 3rem 2rem 3rem;
  }
}

@media screen and (max-width: 780px) {
  .section-calculator #calculator .foot {
    font-size: 2.2rem;
  }
}

.h2 {
  font-size: 3.2rem;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: 780px) {
  .h2 {
    font-size: 2.2rem;
  }
}

.h2 .big {
  font-size: 5.8rem;
  display: block;
}

.icon-gas-station {
  position: relative;
  margin-left: 4.5rem;
}

.icon-gas-station:before {
  content: url("../img/icons/charge-station.svg");
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translate(-100%, -40%);
          transform: translate(-100%, -40%);
}

#myths .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 780px) {
  #myths .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#myths .row .left-column,
#myths .row .right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 780px) {
  #myths .row .left-column,
  #myths .row .right-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#myths .row .left-column {
  padding: 4rem 0;
}

#myths .row .h2 {
  margin-bottom: 5rem;
}

#myths .row .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 780px) {
  #myths .row .btn {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

.section {
  padding: 10rem 0;
}

@media screen and (max-width: 780px) {
  .section {
    padding: 6rem 0;
  }
}

.section .h2 {
  margin-bottom: 3rem;
}

.gray {
  background-color: #f8f8f8;
}

.center {
  text-align: center;
}

#tabs .tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 780px) {
  #tabs .tabs-nav {
    border: none;
  }
  #tabs .tabs-nav li {
    width: 100%;
    text-align: center;
  }
  #tabs .tabs-nav li a {
    width: 100%;
  }
}

#tabs .tabs-nav li {
  margin: 0 1rem;
}

#tabs .tabs-nav li a {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .8rem 1rem;
  border-bottom: 4px solid #e5e5e5;
}

#tabs .tabs-nav li a.active {
  color: #0ddeff;
  border-color: #0ddeff;
}

#tabs div.tab {
  display: none;
}

#tabs div.tab.active {
  display: block;
}

#tabs .catalog-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#tabs .catalog-row .car-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  margin: 1.5rem auto;
  border-radius: 2rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transition: 0.6s cubic-bezier(0.21, 0.15, 0, 1);
  transition: 0.6s cubic-bezier(0.21, 0.15, 0, 1);
}

@media screen and (max-width: 960px) {
  #tabs .catalog-row .car-card {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  #tabs .catalog-row .car-card {
    width: calc(100% - 30px);
  }
}

#tabs .catalog-row .car-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 20px 13px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 13px rgba(0, 0, 0, 0.25);
}

#tabs .catalog-row .car-card.in-stock .img-container:before {
  content: 'В наличии';
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .8rem 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #0090A7;
  border-radius: 10rem;
}

#tabs .catalog-row .car-card .img-container {
  position: relative;
  height: 22.7rem;
}

#tabs .catalog-row .car-card .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#tabs .catalog-row .car-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.5rem 3rem;
}

#tabs .catalog-row .car-card .content .title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

#tabs .catalog-row .car-card .content .leaders {
  margin-bottom: 2.5rem;
}

#tabs .catalog-row .car-card .content .leaders li {
  margin: 12px -4px;
}

#tabs .catalog-row .car-card .content .leaders li:before {
  color: #686868;
}

#tabs .catalog-row .car-card .content .leaders li span {
  font-size: 1.3rem;
  color: #686868;
}

#tabs .catalog-row .car-card .content .leaders li .name {
  font-weight: normal;
}

#tabs .catalog-row .car-card .content .price {
  font-weight: bold;
  color: #0ddeff;
  margin-bottom: 2.5rem;
}

#tabs .catalog-row .car-card .content .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.6rem 7.5rem;
}

#special-offer {
  padding: 8.5rem 0;
  background: #555 center / cover no-repeat;
  color: #ffffff;
}

#special-offer .h2 {
  margin-bottom: 5rem;
}

#special-offer .h2 .big {
  margin-bottom: 1rem;
}

@media screen and (max-width: 560px) {
  #special-offer .h2 .big {
    font-size: 3.8rem;
  }
}

#consult-manager .h2 {
  margin-bottom: 9rem;
}

@media screen and (max-width: 780px) {
  #consult-manager .h2 {
    margin-bottom: 4rem;
  }
}

#consult-manager .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#consult-manager .row .column-left,
#consult-manager .row .column-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 780px) {
  #consult-manager .row .column-left,
  #consult-manager .row .column-right {
    width: calc(100% - 30px);
  }
}

#consult-manager .row .column-left {
  margin-bottom: 4rem;
}

#consult-manager .row .column-left.manager-label {
  position: relative;
}

#consult-manager .row .column-left.manager-label:after, #consult-manager .row .column-left.manager-label:before {
  position: absolute;
  left: 0;
  font-size: 1.2rem;
}

#consult-manager .row .column-left.manager-label:after {
  bottom: -2rem;
  content: 'Артем Уваров';
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 780px) {
  #consult-manager .row .column-left.manager-label:after {
    bottom: 0rem;
  }
}

#consult-manager .row .column-left.manager-label:before {
  bottom: -4rem;
  content: 'Менеджер по продажам';
  color: #96979C;
}

@media screen and (max-width: 780px) {
  #consult-manager .row .column-left.manager-label:before {
    bottom: -1.5rem;
  }
}

#consult-manager .row .column-right .subtitle {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

#consult-manager .phone-link {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media screen and (max-width: 780px) {
  #consult-manager .phone-link {
    font-size: 2rem;
  }
}

#consult-manager .phone-link.velcom:before, #consult-manager .phone-link.mts:before {
  margin-right: 1rem;
  display: inline-block;
  width: 3.5rem;
  height: 2.6rem;
  text-align: center;
  vertical-align: middle;
  height: auto;
}

#consult-manager .phone-link.velcom:after, #consult-manager .phone-link.mts:after {
  font-size: 1.4rem;
  color: #96979c;
  margin-left: 1rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
}

@media (max-width: 340px) {
  #consult-manager .phone-link.velcom:after, #consult-manager .phone-link.mts:after {
    display: none;
  }
}

#consult-manager .phone-link.velcom {
  color: #f9b300;
}

#consult-manager .phone-link.velcom:before {
  content: url("../img/icons/velcom_logo.png");
}

#consult-manager .phone-link.velcom:after {
  content: '(Велком)';
}

#consult-manager .phone-link.mts {
  color: #e9322b;
}

#consult-manager .phone-link.mts:before {
  content: url("../img/icons/mts_logo.png");
}

#consult-manager .phone-link.mts:after {
  content: '(МТС)';
}

#consult-manager #main-manager-form {
  margin-top: 5rem;
}

#main-manager-form {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 2.5rem 3rem 3rem 3rem;
  border-radius: 2rem;
  background-color: #ffffff;
}

#main-manager-form .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem -1rem .5rem -1rem;
}

#main-manager-form .pair .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23rem;
          flex: 1 1 23rem;
  margin: 1rem;
}

#main-manager-form .pair .input-wrapper input {
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
}

#subscription {
  position: relative;
  z-index: 0;
  background-color: #0ddeff;
  overflow: hidden;
  padding: 2rem;
  color: #ffffff;
}

#subscription .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 960px) {
  #subscription .pair {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#subscription .subscr-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 1rem 1rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 960px) {
  #subscription .subscr-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#subscription .subscr-form .input-wrapper-2 {
  width: 28.5rem;
  height: 100%;
}

#subscription .subscr-form .input-wrapper-2 input {
  padding: 1.5rem 2rem;
  border-radius: 100px 0px 0px 100px;
}

#subscription .subscr-form .btn {
  font-size: 1.2rem;
  padding: 1.8rem 2rem;
  color: #ffffff;
  letter-spacing: 0.1em;
  background: #066C7C;
  border-radius: 0px 100px 100px 0px;
}

@media screen and (max-width: 780px) {
  #subscription .subscr-form .input-wrapper-2 {
    width: unset;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
  }
  #subscription .subscr-form .input-wrapper-2 input {
    padding: 1rem;
    font-size: 1.2rem;
  }
  #subscription .subscr-form .btn {
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: unset;
  }
  #subscription .subscr-form .btn:after {
    display: none;
  }
}

#subscription .social {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#subscription .social span {
  margin-right: 1rem;
}

#subscription .social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#subscription .social .links a {
  width: 46px;
  height: 46px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5rem;
}

#footer {
  background-color: #063c44;
  color: #ffffff;
  padding: 5rem 0 3rem;
  font-size: 1.2rem;
}

#footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#footer .row .column-1,
#footer .row .column-2,
#footer .row .column-3,
#footer .row .column-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  #footer .row .column-1,
  #footer .row .column-2,
  #footer .row .column-3,
  #footer .row .column-4 {
    width: calc(50% - 30px);
  }
}

#footer .row .column-3 a, #footer .row .column-3 span {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media screen and (max-width: 560px) {
  #footer .row .column-3 a, #footer .row .column-3 span {
    font-size: 1.1rem;
  }
}

#footer .row .column-3 ul {
  margin-top: -1rem;
  margin-left: 2.5rem;
}

#footer .row .column-3 ul li {
  margin-bottom: .5rem;
}

#footer .row .column-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .row .column-4 .logo {
  display: inline-block;
  margin-bottom: 2rem;
}

#footer .row .column-4 p.bold {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.9rem;
  color: #ffffff;
}

#footer .row .column-4 a.primary {
  text-decoration: underline;
}

#footer .row .column-4 a.primary:hover {
  text-decoration: none;
}

#footer .row .column-4 .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1rem;
}

#footer .row .column-4 .copyright {
  margin-top: auto;
  line-height: 16px;
  color: #5C858B;
  margin-bottom: 1.2rem;
}

@media screen and (max-width: 560px) {
  #footer .row .column-4 a.primary,
  #footer .row .column-4 .copyright {
    font-size: 1rem;
  }
}

#footer .title {
  color: #0ddeff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
}

#footer .menu a {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

#footer .menu a:hover {
  text-decoration: none;
}

.icon-phone:before {
  content: url("../img/icons/contacts/phone.svg");
}

.icon-mail:before {
  content: url("../img/icons/contacts/mail.svg");
}

.icon-map:before {
  content: url("../img/icons/contacts/point.svg");
}

.icon-time:before {
  content: url("../img/icons/contacts/watch.svg");
}

.icon-phone,
.icon-mail,
.icon-map,
.icon-time {
  display: block;
}

.icon-phone:before,
.icon-mail:before,
.icon-map:before,
.icon-time:before {
  width: 14px;
  height: 100%;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  text-align: center;
}

@media screen and (max-width: 560px) {
  .icon-phone:before,
  .icon-mail:before,
  .icon-map:before,
  .icon-time:before {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */