@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic'); 

// 12 column grid
@import 'partials/smart-grid';
// Normalize
@include reset();


//Vars
$primary: #0ddeff;
$primary-deep: #0fb9d3;
$footer: #063c44;
$black: #515151;
$font-color: #686868;
$btn-color: linear-gradient(180deg, $primary 0%, #0090a7 100%);
$white: #ffffff;


// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    color: $black;
}

ul {
    list-style-type: none;
}
p {
    color: $font-color;
    line-height: 1.3;
}

// img {
//     object-fit: cover;
// }

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}
.section {
    padding: 7.5rem 0;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}

////Btn
.btn {
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-align: center;

    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    
    transition: .5s cubic-bezier(0.21, 0.15, 0, 1);

    &.btn-large  {
        padding: 2.8rem 6rem;
        @include md( padding, 2rem 4rem);
    }
                
    &-flat {
        background-color: $primary;
        color: $white;
        &:hover {
            filter: saturate(140%);
        }
        &:active {
            background-color: $primary-deep;
        }
    }
    &-inverse {
        border: 1px solid $primary;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: $white;
        }
        &:active {
            background-color: $primary-deep;
        }
    }
    &-primary {
        background: $btn-color;
        color: white;
        box-shadow: 0px 2px 1px rgba(6,108,124,1);

        font-size: 1.4rem;

        
        &:hover,
        &:active {
            transform: translateY(2px);           
            color: #fff;
            box-shadow: 0px 0px 1px rgba(6,108,124,1);
        }
        &:before {
            border-radius: 10rem;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            opacity: 0;
            
            transition: all .7s cubic-bezier(0.21, 0.15, 0, 1);
            background: linear-gradient(180deg, #0DDEFF 12%,#0DDEFF 100%);
            z-index: -1;
        }
        &:hover {
            &:before {
                opacity: 1;
                color: #fff;
            }
        }
        &:active {
            filter: saturate(70%);
        }
    }
}






//Logo
.logo {
    transition: all .5s cubic-bezier(0.21, 0.15, 0, 1);
    &:hover {
        filter: saturate(150%);
    }
}

////Navbar
.navbar {
    z-index: 20;
    .phone {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-top,
    &-bottom {
        .container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }     
    }
    &-top {
        background-color: $white;
        padding: 1.5rem 0;
        @include md(padding, .5rem 0);
        .container {
            justify-content: space-between;
        }
        .logo {

        }
        .right-side {
            @include md(display, none);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            a {
                margin: .5rem;
                &:last-child {
                    margin-right: 0;
                }
            }

            .btn {
                padding: 1.2rem 1.5rem;
                font-size: 1rem;
                border: 1px solid $primary;
                vertical-align: middle;
            }
        }
    }
    &-bottom {
        background-color: $primary;
        color: $white;
        z-index: 20;
        .phone {
            display: none;
        }
        @include md-block() {
            display: none;
            background-color: #14222e;
            position: absolute;
            top: 70px;
            right: 0;
            bottom: 0;
            width: 100%;

            //transition: all .7s cubic-bezier(0.21, 0.15, 0, 1);
            .menu {
                flex-direction: column;
                padding: 4rem 0;
                li {
                    font-size: 1.5rem;
                }
            }
            .phone {
                display: block;
                position: absolute;
                left: 50%;
                bottom: 4rem;
                transform: translateX(-50%);
                white-space: nowrap;
                padding: 1rem 2rem;
                border: 1px solid white;
                border-radius: 1rem;
            }
        }
        &.active {
            display: block;
            // width: 100%;
            // width: 100%;
            //transition: all .7s cubic-bezier(0.21, 0.15, 0, 1);
        }
        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            

            color: $white;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            li {
                position: relative;
                a {
                    display: inline-block;
                    padding: 1.8rem;
                }
                &:before {
                    content: '';
                    height: .4rem;
                    width: 0;
        
                    position: absolute;
                    bottom: 0;
                    left: 0;
        
                    background-color: #fff;
        
                    transition: all .5s cubic-bezier(0.21, 0.15, 0, 1);
                }
                &:hover:before {
                    width: 100%;
                }
            }
        }
    }
}
// Burger
.ham {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    display: none;
    z-index: 50;
    @include md(display, block);

    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: $primary;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    .top {
        stroke-dasharray: 40 82;
      }
        .middle {
        stroke-dasharray: 40 111;
      }
        .bottom {
        stroke-dasharray: 40 161;
      }
      &.active .top {
        stroke-dasharray: 17 82;
        stroke-dashoffset: -62px;
      }
      &.active .middle {
        stroke-dashoffset: 23px;
      }
      &.active .bottom {
        stroke-dashoffset: -83px;
      }
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}


////Header
header {
    padding-top: 7rem;
    @include md(padding-top, 3rem);
    background: #5555 url('../img/home/main-bg-compressed.jpg') bottom right / cover no-repeat;
    min-height: 86.7vh;
    @include md-block() {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #192833 100%), url('../img/home/main-bg-compressed.jpg');
        min-height: 90vh;
    }
    
    color: $white;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    h1 {
        color: $white;
        //font-size: 5.8rem;
        font-size: 6.6vmin;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 4rem;
        @include md-block() {
            font-size: 6.2vmin;
            margin-bottom: 2.5rem;
        }
    }
    .main-ul {
        margin-bottom: 5rem;
        @include md(margin-bottom, 2rem);
    }
    .btn-large {
        margin-bottom: 15rem;
        @include md(margin-bottom, 12rem);
    }
    .foot {
        margin-top: auto;
        margin-bottom: 3rem;
    }
}

.main-ul {
    li {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        @include xs-block() {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }
        &:before {
            content: url('../img/icons/check-icon.svg');
            margin-right: 1.3rem;
            vertical-align: middle;
            display: inline-block;
        }
    }
}

.links li,
.link-primary {
    display: inline-block;
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;

    border-bottom: .4rem solid rgba(255, 255, 255, 0.5);

    margin-right: 3rem;
    &:before {
        content: '';
        height: .4rem;
        width: 0;

        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);

        background-color: #fff;

        transition: all .5s cubic-bezier(0.21, 0.15, 0, 1);
    }
    &:hover:before {
        width: 100%;
    }
}

.links {  
    display: flex;
    flex-wrap: wrap;

    li {
        border-bottom: .4rem solid rgba(255, 255, 255, 0.5);
        margin-right: 3rem;
        &:before {
            background-color: #fff;
        }
    }
}

.link-primary {
    color: $primary;
    letter-spacing: 0.12rem;    
    border-bottom: .4rem solid rgba(13, 222, 255, 0.3);
    &:before {
        background-color: $primary;
        transition: all .5s cubic-bezier(0.21, 0.15, 0, 1);
    }
}


// FEATURES
.h3 {
    color: $black;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-features {
    position: relative;
    padding: 24rem 0 18rem;
    &::before {
        content: url('data:image/svg+xml; utf8,<svg viewBox="0 0 1849 280" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.03">
        <path d="M221.468 205.36V273H0.30835V6.99998H216.528V74.64H88.4684V105.8H200.948V170.4H88.4684V205.36H221.468Z" fill="black"/>
        <path d="M255.992 6.99998H345.672V203.46H465.752V273H255.992V6.99998Z" fill="black"/>
        <path d="M711.683 205.36V273H490.523V6.99998H706.743V74.64H578.683V105.8H691.163V170.4H578.683V205.36H711.683Z" fill="black"/>
        <path d="M883.767 279.08C855.647 279.08 830.314 273.253 807.767 261.6C785.22 249.693 767.487 233.227 754.567 212.2C741.9 190.92 735.567 166.853 735.567 140C735.567 113.147 741.9 89.2067 754.567 68.18C767.487 46.9 785.22 30.4333 807.767 18.78C830.314 6.87332 855.647 0.919983 883.767 0.919983C909.607 0.919983 932.66 5.47999 952.927 14.6C973.193 23.72 989.914 36.8933 1003.09 54.12L946.467 104.66C930 83.8866 910.62 73.5 888.327 73.5C869.58 73.5 854.507 79.58 843.107 91.74C831.707 103.647 826.007 119.733 826.007 140C826.007 160.267 831.707 176.48 843.107 188.64C854.507 200.547 869.58 206.5 888.327 206.5C910.62 206.5 930 196.113 946.467 175.34L1003.09 225.88C989.914 243.107 973.193 256.28 952.927 265.4C932.66 274.52 909.607 279.08 883.767 279.08Z" fill="black"/>
        <path d="M1084.88 76.54H1006.98V6.99998H1252.46V76.54H1174.56V273H1084.88V76.54Z" fill="black"/>
        <path d="M1389.76 206.12H1365.44V273H1275.76V6.99998H1403.82C1428.39 6.99998 1449.8 11.0533 1468.04 19.16C1486.28 27.2666 1500.34 38.92 1510.22 54.12C1520.1 69.32 1525.04 87.0533 1525.04 107.32C1525.04 126.32 1520.73 142.913 1512.12 157.1C1503.5 171.287 1491.09 182.56 1474.88 190.92L1530.74 273H1434.98L1389.76 206.12ZM1434.6 107.32C1434.6 97.44 1431.56 89.84 1425.48 84.52C1419.4 78.9467 1410.28 76.16 1398.12 76.16H1365.44V138.48H1398.12C1410.28 138.48 1419.4 135.82 1425.48 130.5C1431.56 124.927 1434.6 117.2 1434.6 107.32Z" fill="black"/>
        <path d="M1698.36 279.08C1669.74 279.08 1644.02 273.127 1621.22 261.22C1598.42 249.313 1580.56 232.847 1567.64 211.82C1554.72 190.54 1548.26 166.6 1548.26 140C1548.26 113.4 1554.72 89.5867 1567.64 68.56C1580.56 47.28 1598.42 30.6866 1621.22 18.78C1644.02 6.87332 1669.74 0.919983 1698.36 0.919983C1726.99 0.919983 1752.7 6.87332 1775.5 18.78C1798.3 30.6866 1816.16 47.28 1829.08 68.56C1842 89.5867 1848.46 113.4 1848.46 140C1848.46 166.6 1842 190.54 1829.08 211.82C1816.16 232.847 1798.3 249.313 1775.5 261.22C1752.7 273.127 1726.99 279.08 1698.36 279.08ZM1698.36 206.5C1709.51 206.5 1719.52 203.84 1728.38 198.52C1737.5 192.947 1744.72 185.22 1750.04 175.34C1755.36 165.207 1758.02 153.427 1758.02 140C1758.02 126.573 1755.36 114.92 1750.04 105.04C1744.72 94.9067 1737.5 87.18 1728.38 81.86C1719.52 76.2866 1709.51 73.5 1698.36 73.5C1687.22 73.5 1677.08 76.2866 1667.96 81.86C1659.1 87.18 1652 94.9067 1646.68 105.04C1641.36 114.92 1638.7 126.573 1638.7 140C1638.7 153.427 1641.36 165.207 1646.68 175.34C1652 185.22 1659.1 192.947 1667.96 198.52C1677.08 203.84 1687.22 206.5 1698.36 206.5Z" fill="black"/>
        </g>
        </svg>');
        display: block;
        position: absolute;
        top: 11rem;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        z-index: -1;
    }
    img.car {
        position: absolute;
        bottom: 6rem;
        right: 0;
        mix-blend-mode: multiply;
        @media (max-width: 1300px) {
            display: none;
        }
    }
}
.features-row {
    @include row-flex();
    .feature {
        @include col();
        @include size(4);
        @include size-md(6);
        @include size-xs(12);

        display: flex;
        margin-bottom: 6rem;
        .img-wrapper {
            margin-right: 3rem;
            flex: 1 0 6.5rem;
        }
        .content {
            p {
                min-height: 6rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}